{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>Comment</th>
      <th>Flavor</th>
    </tr>
    {% for rating in ratings %}
    <tr>
      <td>{{ rating.beer }}</td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.comment }}</td>
      <td>{{ rating.flavor }}</td>
      <td>
        <a href="{{ url_for('ratings_modify', rating_id=rating.id) }}">
          Muokkaa
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
