{% extends "layout.html" %}


{% block body %}
  <table>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>Comment</th>
      <!-- <th>Flavor</th> -->
    </tr>
    {% for rating in own_ratings %}
    <tr>
      <td>{{ rating.beer.name }}</td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.comment }}</td>
      <!-- <td>{{ rating.flavor }}</td> kuinka saadaan listattua?-->
      <td>
        <a href="{{ url_for('ratings_editform', rating_id=rating.id) }}">
          Muokkaa
        </a>
      </td>
      <td>
        <form method="POST" action="{{ url_for('ratings_delete', rating_id=rating.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}